/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.about {
  height: 40vh;
  padding: 100px 173px 80px;
  background-color: #0a2750;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__title {
  margin: 0;
  padding: 0;
  max-width: 251px;
  z-index: 2;
  position: absolute;
  left: 80px;
  top: 100px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: -129px;
  top: -152px;
}

.about__content {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 660px;
  position: absolute;
  margin-bottom: 173px;
  z-index: 1;
  top: 119px;
  right: 80px;
}

.about__paragraph {
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

#about p:last-of-type {
  margin-bottom:0;
}

@-webkit-keyframes pulsation {
  0%  {opacity: 0.7;}
  30%   {opacity: 0.4;}
  60%  {opacity:0.2;}
  100%  {opacity: 0;}
}

@keyframes pulsation {
  0%  {opacity: 0.7;}
  30%   {opacity: 0.4;}
  60%  {opacity:0.2;}
  100%  {opacity: 0;}
}

.about__circle_animation_blurred {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation-name: pulsation;
          animation-name: pulsation;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}