.card {
  max-width: 600px;
  width: 100%;
  font-family: "Noto Serif", "Times New Roman", serif;
  padding: 0px;
}
.card__title {
  margin: 0;
  padding: 0 0 16px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", "Arial", sans-serif;
}

.card__list-items {
  margin: auto 0;
  padding-left: 0;
}
.card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  margin-top: 16px;
}

.card__list-divider {
  border-bottom: 1px solid #ffffff;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
