/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.footer {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 60px 100px 60px 80px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#0a2850),
    to(#071931)
  );
  background: -o-linear-gradient(top, #0a2850 0%, #071931 100%);
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  color: #fff;
  position: relative;
}

.footer__columns {
  min-height: 224px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__column_content_social {
  margin-left: 100px;
}

.footer__logo {
  width: 116px;
  height: 21px;
}

.footer__list {
  /* The code below removes the default browser styles for lists */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  margin-bottom: 16px;
}
.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__column-heading {
  font-size: 16px;
  margin: 0 0 20px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}

.footer__column-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  width: 16px;
  height: 16px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  /* animation */
  color: white;
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.08s;
  -o-transition-duration: 0.08s;
  transition-duration: 0.08s;
  -webkit-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0.17s;
  -o-transition-delay: 0.17s;
  transition-delay: 0.17s;
}
.footer__column-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
}

.footer__copyright {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
