/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  padding: 30px 80px 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__title {
  margin: 202px 0 28px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  max-width: 729px;
  display: block;
  position: relative;
}

.header__span-accent {
  display: block;
  margin: 0;
  border: 0;
  font-family: Noto serif, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin: 0;
  position: relative;
  font-family: Noto serif, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__image {
  margin: 0;
  height: 568px;
  width: 646px;
  max-width: 683px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 0 80px;
  left: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header p:last-child {
  margin: 0;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}
