/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu__title {
  margin: 0 auto 24px auto;
  width: 780px;
  text-align: center;
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  margin: 0 auto 100px auto;
  width: 780px;
  text-align: center;
  display: block;
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 100px;
}

.card {
  max-width: 600px;
  width: 100%;
  font-family: "Noto Serif", "Times New Roman", serif;
  padding: 0px;
}
.card-title {
  margin: 0;
  padding: 0 0 16px 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", "Arial", sans-serif;
}

.card__list-items {
  margin: auto 0;
  padding-left: 0;
}
.card__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  list-style: none;
  margin-top: 16px;
}

.card__list-divider {
  border-bottom: 1px solid #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}