/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

#reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  max-height: 960px;
  color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reservation__title {
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form {
  margin: 80px auto 0;
  max-width: 385px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#reservation label {
  margin: 0 0 8px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form-input {
  border: 1px;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 0;
}

::-webkit-input-placeholder{
  margin-left: 20px;
  text-align: left;
  text-indent:20px;
}

::-moz-placeholder{
  margin-left: 20px;
  text-align: left;
  text-indent:20px;
}

:-ms-input-placeholder{
  margin-left: 20px;
  text-align: left;
  text-indent:20px;
}

::-ms-input-placeholder{
  margin-left: 20px;
  text-align: left;
  text-indent:20px;
}

::placeholder{
  margin-left: 20px;
  text-align: left;
  text-indent:20px;
}

.form-button {
  width: 100%;
  height: 60px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background-color: #2f80ed;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  /* animation */
  opacity: 100%;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.08s;
       -o-transition-duration: 0.08s;
          transition-duration: 0.08s;
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-transition-delay: 0.17s;
       -o-transition-delay: 0.17s;
          transition-delay: 0.17s;
}

.form-button:hover {
  opacity: 70%;
}

.form-checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}
.form-checkbox-terms-conditions {
  margin-right: 12px;
  height: 20px;
  width: 20px;
}