/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 100px 0 120px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.reservation__title {
  margin: 0 auto;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}