#reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  max-height: 960px;
  height: 100vh;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 100px 0 120px;
  box-sizing: border-box;
}

.reservation__title {
  margin: 0 auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 80px auto 0;
  max-width: 385px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#reservation label {
  margin: 0 0 8px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  max-width: 385px;
  height: 60px;
  width: 100%;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  padding: 0;
}

::placeholder{
  margin-left: 20px;
  text-align: left;
  text-indent:20px;
}

.form_button {
  width: 100%;
  height: 60px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  background-color: #2f80ed;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 0.08s;
  transition-timing-function: ease-out;
  transition-delay: 0.17s;
}

.form_button:hover {
  opacity: 70%;
}

.form__checkbox-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 0;
}
.checkbox_terms-conditions {
  margin-right: 12px;
  height: 20px;
  width: 20px;
}